# Source
**/*.ts
*.ts
src/

# Definitions
!**/*.d.ts
!*.d.ts

# Source maps
build/**/*.js.map

# Sources
/.dependabot
/.editorconfig
/.eslintignore
/.eslintrc.js
/.eslintrc.test.js
/.github
/.gitignore
/.npmignore
/.prettierignore
/.prettierrc
/.travis.yml
/.vscode
/coverage
/jest.config.js
/src
/tests
/tsconfig.json
/tsconfig.prod.json
/tsconfig.test.json
/yarn.lock

# Artgen artifacts
.build-log
.artgenrc